body {
    background: #eeefed;
}

a {
    text-decoration: none;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top: 25px;
}

h1 {
    position: relative;
    text-align: center;
    color: #24006c;
    font-size: 50px;
    font-family: "Algerian", sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    color: #676767;
    margin-bottom: 40px;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #000;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: block;
    margin: 0 auto 20px; /* Center and add margin to stack vertically */
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

/* 1 */
.btn-1 {
    background: rgb(19, 59, 8);
    background: linear-gradient(0deg, rgb(233, 29, 158) 0%, rgba(12,25,180,1) 100%);
    border: color(srgb rgb(217, 15, 15) rgb(240, 252, 6) rgb(0, 0, 0));
  }
  .btn-1:hover {
    background: rgb(18, 161, 25);
    background: linear-gradient(0deg, rgb(15, 15, 37) 0%, rgba(2,126,251,1) 100%);
  }

  /* 2 */
.btn-2 {
    background: rgb(217, 255, 0);
    background: linear-gradient(0deg, rgb(209, 240, 6) 0%, rgb(0, 0, 0) 100%);
    border-color: black;
    
  }
  .btn-2:hover {
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(192, 195, 22, 0.5), 
      inset -4px -4px 6px 0 rgba(17, 4, 167, 0.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
  }

  /* 3 */
.btn-3 {
    background: rgb(238, 99, 0);
  background: linear-gradient(0deg, rgb(81, 13, 13) 0%, rgba(2,126,251,1) 100%);
}

.btn-3:hover {
    background: rgb(93, 74, 74);
 background: linear-gradient(0deg, rgb(235, 235, 235) 0%, rgb(4, 1, 64) 100%);
 }

 /* 4 */
 .btn-4 {
    font-family: Verdana,sans-serif;
    background-size: 2cm;
} 